.header {
    // background: linear-gradient(90deg, #26264F 0%, #444B8C 99.43%);
    // border-radius: 0px 0px 50px 50px;

    display: flex;
    align-items: center !important;
    transition: all 0.5s;
    overflow: hidden !important;

    padding-top:  calc(19px + (32 - 19) * ((100vw - 768px) / (1918 - 768)));


    &__logo {
        padding: 0 0 0 calc(20px + (43 - 20) * ((100vw - 768px) / (1918 - 768)));
    }

    &__img {
        width: calc(223px + (506 - 223) * ((100vw - 768px) / (1918 - 768)));

        @media (max-width: 479px) {
            width: 212px;
        }

        @media (min-width: 1024px) {
            width: calc(331px + (512 - 331) * ((100vw - 1240px) / (1918 - 1240)));
        }
    }

    &__menu {
        // padding-top: calc(19px + (38 - 19) * ((100vw - 768px) / (1918 - 768)));
        width: 100%;
    }

    &__burger {
        display: none;
        transition: all 0.5s;
    }

    &__list {
        align-items: center;
        display: grid;
        grid-template-columns: 0.2fr 0.6fr 1fr 0.2fr;

        :first-child {
            grid-column-start: 2;
        }

        a {
            font-family: 'IBM Plex Sans', sans-serif;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
            color: #FFFFFF;

            @media (min-width: 1024px) {
                font-size: calc(17px + (24 - 17) * ((100vw - 1240px) / (1918 - 1240)));
            }
        }
    }

    &__changelang {
        display: flex;
        align-items: center;

        width: calc(59px + (104 - 59) * ((100vw - 1240px) / (1918 - 1240)));
        height: calc(29px + (51 - 29) * ((100vw - 1240px) / (1918 - 1240)));
        margin-right: calc(26px + (54 - 26) * ((100vw - 1240px) / (1918 - 1240)));
        border: 3px solid #ECECEC;
        border-radius: 35px;

        background-color: #ECECEC;

        .invisible {
            display: none;
        }

        .vis.ru {
            margin-left: auto;
        }

        .vis.en {
            margin: 0 !important;
        }
    }

    &__bottom {
        display: none;
        position: absolute;
        bottom: 22px;
        right: 22px;
        text-align: right;
    }


    &__item {
        display: flex;
        justify-content: right;
        text-align: right;
        margin-bottom: 5px;
    }

    &__text {
        text-align: right !important;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
    }

    &__icon {
        margin-left: 9px;
        width: 18.5px;
    }

    &__logo-bottom {
        width: 213px;
        margin-top: 12px;
    }

}

.header__kros {
    display: none;
}

.header1 {
    transition: all 0.5s;
    width: 100%;
    position: fixed;
    top: -100%;
    background: linear-gradient(90deg, #26264F 0%, #444B8C 99.43%);

    .header__logo {
        padding-left: calc(20px + (43 - 20) * ((100vw - 768px) / (1918 - 768)));
    }

    .header__menu {
        padding-top: 0 !important;
    }

    .header__list {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr auto 0.2fr auto 1fr 0.2fr !important;

        :nth-child(2) {
            grid-column-start: 4;
        }
    }

    .header__changelang {
        grid-column-start: 6;
        margin-right: calc(20px + (43 - 20) * ((100vw - 768px) / (1918 - 768))) !important;
    }
}


@media (max-width: 1020px) {
    .ru{
        .header__list{
            padding-top: 0;
            height: 50%;
            justify-content: center;
            :last-child{
                order: 1 !important;
            }
            :first-child{
                order: 2 !important;
            }
            :nth-child(2){
                order: 3 !important;
            }
        }
    }

    .header {
        br{
            display: block;
        }
        transition: all 0.5s;
        justify-content: space-between;
        width: 100%;

        &__kros {
            display: block;
            position: absolute;
            right: 277px;
            top: 20px;
            width: 25px;
            height: 25px;

            text-align: center;
            color: #FFFFFF;
            font-family:sans-serif;
            font-weight: 700;
            font-size: 16px;
        }

        &__burger {
            display: block;
            

            img {
                margin-right: calc(20px + (32 - 20) * ((100vw - 375px) / (768 - 375))) !important;
            }
        }

        &__menu {
            z-index: 100;
            position: fixed;
            top: 0;
            right: -100%;
            transition: all 0.5s;
            width: 316px;
            height: 100%;
            padding-top: 17px !important;
            background: linear-gradient(180deg, #26264F 0%, #434989 100%);
            border-radius: 35px 0px 0px 35px;

            padding: 0;
            margin: 0;
        }

        &__name {
            color: #FFFFFF;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 16px;
        }

        &__item__long {
            margin-bottom: 29px;

            color: #FFFFFF;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
        }
    }

    .header__list {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-end !important;
        justify-content: center;
        height: 50%;
        padding-right: 25px !important;


        .header__changelang {
            order: 1;
            margin: 0;
            margin-bottom: 45px;

            width: 50px;
            height: 25px;

            >* {
                width: 23px;
                height: 23px;
                font-size: 12px;
            }
        }

        :first-child {
            margin-bottom: 23px;
        }

    }

    .header__menu.active {
        filter: blur(-10px) !important;
        transition: all 0.5s;
        right: 0;
        z-index: 1000;


        .header__bottom {
            display: block !important;
        }
    }

    .header__burger.active {
        display: none;

        img {
            display: none;
        }

    }

    .main__lock {
        filter: blur(3px);
    }

    .body__lock {
        position:relative;
        overflow:hidden!important;
        touch-action:none;
        -ms-touch-action:none;
        .wrapper{
            position:relative;
            overflow:hidden!important;
        }
    }

    .logo__lock {
        position: relative;
        z-index: 99;
        filter: blur(3px);
    }
}




.header-scroll {
    z-index: 10000;


    width: 100%;
    transition: all 0.5s;
    top: 0;
    opacity: 1;

    padding: calc(12px + (17 - 12) * ((100vw - 796px) / (1918 - 769))) 0 calc(12px + (17 - 12) * ((100vw - 796px) / (1918 - 769))) 0 !important;
    border-radius: 0px 0px calc(25px + (50 - 25) * ((100vw - 375px) / (1918 - 375))) calc(25px + (50 - 25) * ((100vw - 375px) / (1918 - 375)));

    .header__menu.active {
        height: 100% !important;
        padding-top: calc(19px + (38 - 19) * ((100vw - 768px) / (1918 - 768))) !important;
    }

}

.burger2 {
    display: none;

    @media (max-width: 519px) {
        display: inline-block;
    }
}

.burger1 {
    @media (max-width: 519px) {
        display: none;
    }
}