body {
    font-weight: 400;
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100%;
    overflow-x: hidden;


    h1 {
        color: #FFFFFF;
        font-weight: 700;
        font-size: calc(24px + (64 - 24) * ((100vw - 768px) / (1918 - 768)));
        line-height: 125%;
        @media (max-width: 768px) {
         font-size: 24px !important;
        }
    }

    h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 500 ;
        @media (max-width: 769px){
            font-weight: 700;
        }
        font-size: calc(32px + (64 - 32) * ((100vw - 769px) / (1918 - 769))) !important;
        letter-spacing: -0.015em;
        text-align: center;
    }

    h3 {
        font-weight: 400;
        font-size:  calc(16px + (48 - 16) * ((100vw - 375px) / (1918 - 375)));
        line-height: 127%;
        letter-spacing: -0.015em;
    }

    h4{
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1918 - 375)));
    }
    .description{
        // text-transform: uppercase;
        font-weight: 500;
        font-size:  calc(12px + (24 - 12) * ((100vw - 768px) / (1918 - 768)));
        line-height: 100%;
        letter-spacing: -0.015em;
    }
}

.wrapper {
    overflow-x: hidden;
    min-height: 100%;
    width: calc(768px + (1918 - 768) * ((100vw - 768px) / (1918 - 768)));
    overflow: hidden !important;
}
// .....................структура.....................

.page {
    &__title {
        @media (max-width: 600px){
            margin-bottom: 30%;
        }
        @media (max-width:519px) {
            margin-bottom: 22%;
        }
    }

    &__about {
        margin-top: calc(19px + (75 - 19) * ((100vw - 768px) / (1918 - 768)));
        @media (max-width:600px) {
            margin-top: 75px;
        }
        @media (max-width:500px){
            margin-top: 40px;
        }
    }

    &__make {
    }

    
    &__types {
    }

    &__stage {
        @media (max-width:769px){
            margin-top: 400px;
        }
    }

    &__advantages{
        padding-top: calc(50px + (196 - 50) * ((100vw - 768px) / (1918 - 768)));
        @media (max-width: 769px) {
            margin-top: 40px;
        }
    }

    &__format{
        margin-top: calc(43px + (250 - 43) * ((100vw - 768px) / (1918 - 768)));

        @media (max-width:1230px) {
            margin-top: calc(80px + (290 - 80) * ((100vw - 768px) / (1918 - 768)));
        }

        @media (max-width:950px) {
            margin-top: calc(100px + (310 - 100) * ((100vw - 768px) / (1918 - 768)));
        }

        @media (max-width: 769px) {
            margin-top: 350px;
        }
    }

    
    &__how {
        margin-top: calc(107px + (214 - 107) * ((100vw - 768px) / (1918 - 768))) !important;
        @media (max-width:769px) {
            margin-top: calc(280px + (310 - 280) * ((100vw - 375px) / (769 - 375))) !important;
        }
    }

    &__application {
        margin-top: calc(59px + (100 - 59) * ((100vw - 768px) / (1918 - 768)));
    }



    &__clients {
        margin-top: calc(71px + (86 - 71) * ((100vw - 768px) / (1918 - 768)));
    }
    
	&__comments {
        margin-bottom: calc(-110px + (-330 - -110) * ((100vw - 768px) / (1918 - 768)));
        @media (max-width: 769px) {
            margin-bottom: 0;
        }
	}
}

.footer{
    
}





// .......................................

.button-blue {
    background: linear-gradient(111.99deg, #3D58F9 17.81%, #4CB0FE 120.84%);
    border-radius: 50px;
    display: inline-block;
    width: calc(140px + (440 - 140) * ((100vw - 768px) / (1918 - 768)));
    height: calc(40px + (115 - 40) * ((100vw - 768px) / (1918 - 768)));

    @media (max-width: 767px) {
        width: 135px;
        height: 40px;
    }
    display: flex;
    justify-content: center !important;
    align-items:center !important;
    // padding:  calc(9px + (36 - 9) * ((100vw - 375px) / (1918 - 375))) calc(23px + (80 - 23) * ((100vw - 375px) / (1918 - 375)));
    


    &__link {
        display: flex;
        align-items:center;
        justify-content: center;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        font-size: calc(15px + (24 - 15) * ((100vw - 375px) / (1918 - 375)));
        letter-spacing: -0.015em;
        width: 100%;
        height: 100%;
        color: #FFFFFF;
    }
}

// ...........................................

.up-btn {
    height: calc(50px + (60 - 50) * ((100vw - 375px) / (1918 - 375)));
    width: calc(50px + (60 - 50) * ((100vw - 375px) / (1918 - 375)));
    position: fixed;

    img{
        width: 100%;
    }
    z-index: 1000;
    bottom: calc(40px + (69 - 40) * ((100vw - 375px) / (1918 - 375)));
    right: calc(20px + (40 - 20) * ((100vw - 375px) / (1918 - 375)));
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
}

.up-btn.is-show {
    opacity: 1;
    visibility: visible;
}


//......................................................

._ibg {
    background-repeat: no-repeat;
    position: relative;

    img {
        position: absolute;

        width: 100%;
        height: 100%;

        // bottom: 0;
        // right: 0;

        object-fit: cover;
    }
}