.footer {
    // margin-top: calc((78px + (237 - 78) * ((100vw - 768px) / (1918 - 768))) * -1);
    background: url('../img/footer/back.png')100% 100% / calc(733px + (1604 - 733) * ((100vw - 768px) / (1918 - 768))) no-repeat;
    position: relative;

    a {
        color: #ffffff;
    }

    &__wrapper {
        height: calc(350px + (750 - 350) * ((100vw - 768px) / (1918 - 768)));
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin-right: 5%;
        color: #ffffff;
        align-items: flex-end;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: calc(560px + (1240 - 560) * ((100vw - 768px) / (1918 - 768)));

        @media (max-width: 1024px) {
            bottom: 3%;
        }
    }

    &__nav {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;

    }

    &__contacts {
        align-self: flex-end;
    }

    &__logo {
        width: calc(223px + (492 - 223) * ((100vw - 768px) / (1918 - 768))) !important;
        margin-bottom: calc(19px + (60 - 19) * ((100vw - 768px) / (1918 - 768))) !important;
    }

    &__about {
        color: #ffffff;
        height: 75%;
        display: flex;
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        text-align: right;

        margin-right: 5%;
        flex-direction: column;
        justify-content: flex-end;
        text-align: right !important;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__name {
        font-size: calc(14px + (18 - 14) * ((100vw - 768px) / (1918 - 768)));
        line-height: 150%;
        margin-bottom: calc(19px + (22 - 19) * ((100vw - 768px) / (1918 - 768)));
    }

    &__text {
        line-height: 178%;
    }

    &__copirate {
        position: absolute;
        bottom: 0%;
        right: 0%;
        color: #ffffff;
        font-weight: 400;
        font-size: calc(8px + (15 - 8) * ((100vw - 768px) / (1918 - 768)));
        line-height: calc(12px + (26 - 12) * ((100vw - 768px) / (1918 - 768)));
        margin-right: 5%;
    }
}

.nav {
    margin-bottom: calc(19px + (60 - 19) * ((100vw - 768px) / (1918 - 768))) !important;


    @media (hover: hover) {
        >:not(:first-child) {
            &:hover {

                color: #2aebe5 !important;
                transform: translate(10%, 0%);

                &::before {
                    content: ' ';
                    position: absolute;
                    left: -10%;
                    top: 0;
                    height: calc(11px + (15 - 11) * ((100vw - 768px) / (1918 - 768)));
                    width: calc(11px + (15 - 11) * ((100vw - 768px) / (1918 - 768)));
                    background: url("../img/footer/arrow-right.png") 0 0/ contain no-repeat;
                }
            }
        }
    }

    >:not(:last-child) {
        padding-bottom: calc(10px + (20 - 10) * ((100vw - 768px) / (1918 - 768)));
    }

    &__item {
        display: block;
        position: relative;
        width: calc(142px + (192 - 142) * ((100vw - 768px) / (1918 - 768)));
        text-align: left;
        line-height: 15px;
        font-size: calc(11px + (15 - 11) * ((100vw - 768px) / (1918 - 768)));
        color: #ffffff !important;
        transition: all 0.5s;


    }

    &__item1 {
        font-weight: 700;
        font-size: calc(12px + (18 - 12) * ((100vw - 768px) / (1918 - 768)));

        @media (max-width: 1024px) {
            display: none;
        }
    }
}

.contacts {
    margin-bottom: calc(19px + (60 - 19) * ((100vw - 768px) / (1918 - 768))) !important;

    >:not(:last-child) {
        margin-bottom: 5px;
    }

    &__item {
        display: flex;
        text-align: left;
        transition: all 0.5s;

        @media (hover: hover) {
            &:hover {
                transform: translate(10%, 0%);
                color: #2aebe5 !important;
                // background: url("../img/footer/arrow-right.png") 0 50% / 5px 8px no-repeat !important;
                // background-size: contain !important;
            }
        }
    }

    &__img {
        width: calc(16px + (25 - 16) * ((100vw - 768px) / (1918 - 768)));
        margin-right: 6px;
    }

    &__text {
        line-height: calc(12px + (24 - 12) * ((100vw - 768px) / (1918 - 768))) !important;
        font-size: calc(11px + (15 - 11) * ((100vw - 768px) / (1918 - 768)));
    }
}



@media (max-width:769px) {
    .footer {
        background: url('../img/footer/back01.png') 0 0/ 100% 100% no-repeat;

        &__wrapper {
            position: relative;
        }

        &__container {
            position: absolute;
            right: 0;
            width: 80%;
            margin-right: 26px;
            align-items: baseline;
            flex-wrap: wrap;
            justify-content: end;
        }

        &__nav {
            flex: 0 0 50%;
            height: 100%;
            margin-bottom: 0 !important;
        }

        &__contacts {
            flex: 0 0 50% !important;
            font-size: 12px !important;
            margin-bottom: 0 !important;
        }

        &__logo {
            margin-left: auto;
            width: 184px !important;
            margin-top: 30px;
        }

        &__copirate {
            position: relative;
            display: block;
            width: 100%;
            margin: 0;
            padding-right: 26px;
            height: 26px;
            
            font-weight: 300;
            line-height: 26px;
            font-size: 12px;
            background: rgba(0, 0, 0, 0.3);
            text-align: right;
        }
    }

    .nav {

        &__item {
            width: auto;
            font-size: 12px;
            text-align: end;
        }

        &__item1 {
            margin-bottom: 5px;
            text-align: right;
            display: block;
        }
    }

    .contacts {

        &__item {
            flex-direction: row-reverse;
        }

        &__img {
            margin-right: 0;
            margin-left: 6px;
            width: 18px;
            height: 18px;
        }

        &__text {
            font-size: 12px !important;
            line-height: 12px !important;
        }
    }

}

@media (max-width:500px) {
    .footer {

        &__wrapper {
            height: calc(380px + (390 - 380) * ((100vw - 375px) / (500 - 375)));
        }

        &__about {}

        &__name {}

        &__text {}

        &__container {
            flex-direction: column;
            align-items: flex-end;

            >:last-child {
                justify-content: end;
            }
        }

        &__nav {
            align-self: flex-end;
            margin-bottom: 30px !important;
        }

        &__contacts {}

        &__logo {
            margin-top: 25px;
        }
    }

    .nav {

        &__item {}

        &__item1 {}
    }

    .contacts {

        &__item {}

        &__img {}

        &__text {}
    }

}